.recordcard {
    width: 80%;
    height: 177px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    flex-direction: row;
    background-color: #F8CBA6;
    margin: 15px;
 

}

.recordcard:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.recordcard__title{
 /* 不換行 */
    display: inline-flex;
    font-size: 35px;
    font-weight: 700;
}
.recordcard__title>img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.recordcard__content{
    margin-top: 15%;
}

.right{
    margin-top: -50px;
    margin-right: 10px;
}