.modal-overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /*半透明背景顏色*/
    z-index: 2; /*設定適當的層級以覆蓋其他內容*/
    display: flex;
    align-items: center;
    justify-content: center;
   
   
  }
  
.recorddetail{

    width: 81%;
    /* height: 76%; */
    background-color: #FFE7CC;
    border-radius: 20px;    
    max-width: 1024px;
    max-height: 700px;
    padding-bottom: 3%;
    
  
}
.recorddetail__content__area{   
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 10%;
    
}
.recorddetail__content__area__top{   
   display: flex;
   justify-content: space-between;
   padding: 0 5% 0 5%;
}

.recorddetail__title{
    font-size: 45px;
    font-weight: bold;
    color: #333333;
    margin-right: 41%;
    margin-top: 3%;
    margin-bottom: 12px;
}
.recorddetail__button{
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
}
.recorddetail__button:hover{
    color: #FF9685;
}

.recorddetail__content>h2{
    margin-top: 2%;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}
/* last h2 margin top 5px */
.recorddetail__content>h2:last-child{
    margin-top: 20%;
}
.recorddetail__line_group{
    display: flex;
    /* column */
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    /* 距離10px */
    
}
.recorddetail__line{
 
    height: 20%;
    width: 6px;
    background-color: #C5BBBB;
    border-radius: 6px;

}

/* 示例：在小屏幕上将标题字体大小调整为20px */
@media screen and (max-width: 767px) {
    .recorddetail__title {
        font-size: 20px;
    }
}

/* 示例：在中等屏幕上将标题字体大小调整为30px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .recorddetail__title {
        font-size: 30px;
    }
}

/* 示例：在大屏幕上将标题字体大小调整为40px */
@media screen and (min-width: 1024px) {
    .recorddetail__title {
        font-size: 40px;
    }
}
