

.frame-5 {
    height: 439px;
    width: 382px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 439px;
    max-width: 382px;
    height: 100%;
    width: 100%;
  }
  .text-1 {
    text-align: left;
    vertical-align: top;
    font-size: 50px;
    font-family: Sen;
    line-height: auto;
    color: #000000;
  }
  .img-2 {
    height: 53px;
    width: 53px;
  }
  .button-login {
    text-align: center;
    vertical-align: top;
    font-size: 25px;
    font-family: Inter;
    line-height: auto;
    color: #fffdf5;
    border-radius: 0.9375rem;
    height: 58px;
    width: 131px;
    background-color: #4a8a7f;
    border: 0.0625rem solid #000000;
    
  }
  .rectangle-2-9 {
    border-radius: 0.9375rem;
    height: 72px;
    width: 382px;
    background-color: rgba(236, 249, 255, 0.5);
    border: 0.0625rem solid #000000;
    padding: 10px;
    margin-bottom: 17px;
  }
  .rectangle-3-0 {

    height: 18px;
    width: 70px;
    background-color: #ecf9ff;
    position: absolute;
    top: 100px;
    left: 25px;
  }
  .text-4 {
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    font-family: Inter;
    line-height: auto;
    color: #000000;
    left: 3%;
    background-color: #ecf9ff;
    transform: translate(3%, -50%);
    z-index: 2;
    position: absolute;
  }
  .text-5 {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    font-family: Inter;
    line-height: auto;
    color: #000000;
    background-color: #ecf9ff;
    left: 3%;
    transform: translate(3%, -50%);
    z-index: 2;
    position: absolute;
  }
  .rectangle-1-7 {
    border-radius: 0.9375rem;
    height: 72px;
    width: 382px;
    background-color: rgba(236, 249, 255, 0.5);
    border: 0.0625rem solid #000000;
    padding: 10px;
  }
  
  .frame-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .password-frame{
    position: relative;
    width: 25vw;
    height: 10vh;
    margin-bottom: 35px;
    margin-left: 30%;
}
.email-frame{
    position: relative;
    width: 25vw;
    height: 10vh;
    margin-bottom: 6px;
    margin-left: 30%;
}
.imgman{
    height: 56px;
    width: 56px;
}
.title-word{
    margin-top: 5px;
    font-size: 50px;
    font-family: Sen;
    line-height: auto;
    color: #000000;
    margin-left: 10px;
    font-weight: bold;
}